
    <h1>Books</h1>
    <div ng-repeat="book in books" class="row">
        <div class="col-md-3">{{book.title}}</div>
        <div class="col-md-3">
            <button ng-click="checkoutBook(book)" class="btn" ng-if="!book.username && role === 'PATRON'">Checkout Book</button>
            <button ng-click="returnBook(book)" class="btn" ng-if="book.username === username && role === 'PATRON'">Return Book</button>
            <button ng-click="deleteBook(book)" class="btn" ng-if="role === 'LIBRARIAN'">Delete Book</button>
        </div>
    </div>
